body {
    background-image: url("../images/wallpaper.jpg");
    background-position: center;
    background-attachment: fixed;
}


/* style for body, spacing */

/* style for search bar */

/* style for currency conversion section */

/* style for images */

/* style for yelp information box */